main {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

svg:hover{
    cursor: pointer;
    fill: darkgray;
}

.prefix div{
    font: 2em;
    font-weight: bold;
}

.bordered{
    border: 1px solid black;
    border-collapse: collapse;
}

tr input{
    border: none;
    width: 100%;
}

.print-y{
    box-sizing: border-box;
}
.btn-cluster{
    display: flex;
    justify-content: space-around;
}
@media print {
    .print-n{
        display: none;
    }
    .print-sm{
        font-size: 8pt;
    }
}

.doc-id{
    color: red;
}

.dotted{
    border-bottom: 1px dotted black;
}

.index-cols{
    margin-top: 2em;
    box-sizing: border-box;
    border: 1px solid black;
    z-index: 5;
}
.index-cols:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

.file-links{
    text-decoration: none;
    color: rgb(35, 35, 150);
    font-weight: bold;
}

.hidden-links{
    visibility: hidden;
    width: 0px;
    padding: 0px;
}

/* within show-acc / office acc view */
.transRow:hover{
    background-color: lightgray;
    cursor: pointer;
}

