{% extends 'ledger/layout.html' %}
{% block title %}Outstanding AD/AT{% endblock %}

{% block body %}
<div class="print-n">
    <div class='btn-cluster'>
        <a class="btn btn-outline-secondary" href="{% url 'ledger:show_off' %}">View Full Ledger</a>
    </div>
    <hr>
</div>
<table class="table print-sm">
    <colgroup>
        <col style="width: 8%;">
        <col style="width:10%;">
        <col style="width: 5%;">
        <col style="width: 30%;">
        <col style="width: 15%;">
        <col style="width:10%">
        <col style="width: 7%;">
    </colgroup>
    <thead>
        <tr style="border:none">
            <th colspan="7">
                <header class="fs-5 text-center mb-3">
                    <div>MESSRS C.H.YEOH & YIEW</div>
                    <div>Outstanding Advance Disbursements</div>
                </header>
            </td>
        </tr>
        <tr>
            <th scope="col">Ref No</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Recipient</th>
            <th class="text-center" scope="col">Amount</th>
            <th class="text-center" scope="col">Resolve</th>
        </tr>
    </thead>
    <tbody>
    {% for trans, entries in trans_zipped %}
        {% for each in entries %}
        <tr class="transRow" data-id="{{trans.id}}">
            <a href="{% url 'ledger:voucher' trans.id %}" id = a{{trans.id}} class="hidden-links"></a>
            <td class="refCell">
                {% if forloop.first %}
                PV{{trans.id|stringformat:"05d"}}
                {% endif %}
            </td>
            <td class="dateCell">
                {% if forloop.first %}
                {{trans.created_at|date:"d/m/Y"}}
                {% endif %}
            </td>
            <td>{{each.type_code}}</td>
            <td>
                {{each.description}}
            </td>
            <td>
                {{trans.receiver}}
            </td>
            <td class="text-center">{{each.amount}}</td>
            <td class="text-center">
                {% if forloop.last%}
                <a class="btn btn-outline-success" style="padding: 0px;" href="{% url 'ledger:resolve' trans.id %}">click</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
        <tr class="transRow" data-id="{{each.id}}">
            <td></td>
            <td></td>
            <td></td>
            <td class="text-end fw-bold">Total</td>
            <td class="text-center fw-bold">{{total}}</td>
            <td class="text-center"></td>
        </tr>
    </tbody>
</table>
<script charset="utf-8">
    $(()=>{
        $('.transRow').dblclick((e)=>{  
            id = $(e.currentTarget).attr('data-id');
            $(`#a${id}`)[0].click()           
        })
    })
</script>
{% endblock %}