{% extends 'ledger/layout.html' %}
{% block title %}Outstanding AD/AT{% endblock %}
{% block body %}
{% load static %}
<div class="d-flex mb-3">
    <div class="me-3">
        Date from:&nbsp;<input name='date_from' class="datepicker text-center" type="text" id="datepickerFrom" value="01/01/2020" autocomplete="off">
    </div>
    <div class="me-3">
        Date to:&nbsp;<input name='date_to' class='datepicker text-center' type="text" id="datepickerTo" value="{% now 'd/m/Y' %}" autocomplete="off">
    </div>
    <button id="dateUpdate">Update</button>
</div>
<ul class="nav nav-tabs print-n mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="outstanding-tab" data-bs-toggle="tab" data-bs-target="#outstanding" type="button" role="tab" aria-controls="outstanding" aria-selected="true">Outstanding</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="total-tab" data-bs-toggle="tab" data-bs-target="#total" type="button" role="tab" aria-controls="total" aria-selected="false">Total Payed Out</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="reimbursed-tab" data-bs-toggle="tab" data-bs-target="#reimbursed" type="button" role="tab" aria-controls="reimbursed" aria-selected="false">Reimbursed</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="outstanding" role="tabpanel" aria-labelledby="outstanding-tab">
        <table class="table print-sm">
            <colgroup>
                <col style="width: 8%;">
                <col style="width:10%;">
                <col style="width: 5%;">
                <col style="width: 30%;">
                <col style="width: 15%;">
                <col style="width:10%">
                <col style="width: 7%;">
            </colgroup>
            <thead>
                <tr style="border:none">
                    <th colspan="7">
                        <header class="fs-5 text-center mb-3">
                            <div>MESSRS C.H.YEOH & YIEW</div>
                            <div>Outstanding Advance Disbursements</div>
                        </header>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Ref No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Recipient</th>
                    <th class="text-center" scope="col">Amount</th>
                    <th scope="col" class="text-center">Resolve</th>
                </tr>
            </thead>
            <tbody id="outstandingBody"></tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="total" role="tabpanel" aria-labelledby="total-tab">
        <table class="table print-sm">
            <colgroup>
                <col style="width: 8%;">
                <col style="width:10%;">
                <col style="width: 5%;">
                <col style="width: 30%;">
                <col style="width: 15%;">
                <col style="width:10%">
            </colgroup>
            <thead>
                <tr style="border:none">
                    <th colspan="7">
                        <header class="fs-5 text-center mb-3">
                            <div>MESSRS C.H.YEOH & YIEW</div>
                            <div>Total Advance Disbursements Payed Out</div>
                        </header>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Ref No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Recipient</th>
                    <th class="text-center" scope="col">Amount</th>
                </tr>
            </thead>
            <tbody id="totalPayedBody"></tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="reimbursed" role="tabpanel" aria-labelledby="reimbursed-tab">
        <table class="table print-sm">
            <colgroup>
                <col style="width: 7%;">
                <col style="width: 8%;">
                <col style="width: 5%;">
                <col style="width: 55%;">
                <col style="width: 15%;">
                <col style="width:10%">
            </colgroup>
            <thead>
                <tr style="border:none">
                    <th colspan="7">
                        <header class="fs-5 text-center mb-3">
                            <div>MESSRS C.H.YEOH & YIEW</div>
                            <div>Reimbursed AD</div>
                        </header>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Ref No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Recipient</th>
                    <th class="text-end" scope="col">Amount</th>
                </tr>
            </thead>
            <tbody id="reimbursedBody">
            </tbody>
        </table>
    </div>
</div>
<!-- Invisible Links -->
{% for id in ids %}
<a id="a{{id}}" href="{% url 'ledger:voucher' id %}" class="hidden-links"></a>
{% endfor %}
<script src="{% static 'ledger/utils.js' %}"></script>
<script charset="utf-8">
$(()=>{
    $('body').on("dblclick",'.transRow',((e)=>{  
        id = $(e.currentTarget).attr('data-id');
        console.log(id);
        $(`#a${id}`)[0].click()           
    }))
    // jquery date picker
    $(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
    
    $('#dateUpdate').click(()=>{
        let dateFrom=$('#datepickerFrom').val();
        let dateTo = $('#datepickerTo').val();
        if (!/^\d{2}\/\d{2}\/\d{4}$/.test(dateFrom) || !/^\d{2}\/\d{2}\/\d{4}$/.test(dateTo)){
           alert('Both "Date from" and "Date to" have to be filled up, following\ndd/mm/yyyy format.')
        } else if (!date1_lte_date2(dateFrom,dateTo)){
            alert('"Date to" needs to be after "Date from".(same date accepted)')
        } else{
            updateTabs(dateFrom, dateTo, JSON.parse('{{reimbursed_list|escapejs}}'), JSON.parse('{{total_payed|escapejs}}'),JSON.parse('{{outstanding|escapejs}}'));
        }
    })
    $('#dateUpdate').click()
    
})
</script>
{% endblock %}