{% extends 'ledger/layout.html' %}
{% block title %}View Client Accounts{% endblock %}

{% block body %}
<div class="print-n">
    <div class='d-flex justify-content-around w-75'>
        <form action="{% url 'ledger:show_cli' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            Final View Date: <input name='date_to' type="text" id="datepicker">
            <button>Update</button>
        </form>
        <button id='printBtn' class="btn btn-secondary" type="button" onclick="window.print()">Print</button>
        <a class="btn btn-outline-primary" href="{% url 'ledger:create_acc' %}">New File</a>
    </div>
    <hr>
</div>
<table class="table print-sm">
    <colgroup>
        <col style="width: 30%;">
        <col style="width: 20%;">
        <col style="width: 20%;">
        <col style="width: 30%;">
    </colgroup>
    <thead>
        <tr style="border-bottom: 2px solid black;">
            <th colspan="4">
                <header class="fs-5 text-center mb-3">
                    MESSRS C.H.YEOH & YIEW
                </header>
                <div class="container d-flex flex-wrap">
                    <div style="width: 100%;" class="d-flex print-sm">
                        <div class="w-25">
                            Date From: &nbsp;<span class="fw-normal">01/01/2000</span> 
                        </div>
                        <div class="w-25"> 
                            Date To: &nbsp;<span class="fw-normal">{{ date_to|date:'d/m/Y' }}</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="col">Client/Name</th>
            <th scope="col">File Ref</th>
            <th class="text-center" scope="col">Date Range Balance</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for acc, rb in accounts_data %}
            <tr class="transRow {% if forloop.last %}border-bottom border-dark{% endif %}" data-id="{{acc.id}}">
                <a href="{% url 'ledger:show_acc' acc.id %}" id = a{{acc.id}} class="hidden-links"></a>
                <td class="refCell">
                    <div>
                        {{acc.client_code}}
                    </div>
                    <div>
                        {{acc.name|upper}}
                    </div>
                </td>
                <td>{{acc.file_no}}</td>
                <td class="text-end">
                    <br>
                    {{rb}}
                </td>
                {% if forloop.last %}
                    <td></td>
                {% endif %}
            </tr>
          
        {% endfor %}
        <tr class="border-bottom border-dark fw-bold">
            <td>
                Total Clients: {{file_count}}
            </td>
            <td class="text-end">
                Grand Total:
            </td>
            <td class="text-end">
                {{total|floatformat:2}}
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<script charset="utf-8">
    $(()=>{
        $('.transRow').dblclick((e)=>{
            id = $(e.currentTarget).attr('data-id');
            $(`#a${id}`)[0].click()
        })
        $( "#datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
        });
    })
</script>
{% endblock %}