{% extends 'ledger/layout.html' %}
{% block title %}Create New Account{% endblock %}

{%  block body %}
{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{error_message}}
</div>
{% endif %}
<div class="container">
    <div class="row justify-content-center fs-4 m-4">Create a new account</div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-lg-6">
            <form id='newAccForm' action="{% url 'ledger:create_acc' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Account Owner's Name</label>
                    <input data-id='0' name='name' type="text" class="formInput form-control" id="nameInput">
                </div>
                <div class="mb-3">
                    <label for="balanceInput" class="form-label">Account's Current Balance</label>
                    <div class="d-flex align-items-center">
                        <span>RM&nbsp;</span>
                        <input data-id="1" name='balance' type="text" class="formInput form-control" id="balanceInput">
                    </div>
                    
                </div>
                <div class="mb-3">
                    <label for="fileNoInput" class="form-label">File Number</label>
                    <input data-id='2' type="text" name='file_no' class="formInput form-control" id="fileNoInput">
                </div>
                <label for='balanceSelect' class="form-label">Owing us?</label>
                <select data-id='3' name='owing' class="form-select w-25" aria-label="balance-select" id='balanceSelect'>
                    <option value="" selected></option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <br>
                <button id='accBtn' type='button' disabled class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script type='text/javascript' charset="utf-8">
$(()=>{
    let accBtn = $('#accBtn')
    let nullChecks = [false, false, false, false]
    updateBtn = () =>{
        if (nullChecks.every(x => x === true)) {
            accBtn.removeAttr('disabled')
        } else {
            accBtn.attr('disabled', true)
        }
    }
    $('.formInput').keyup((e)=>{
        let x = $(e.target).attr('data-id')
        if ($(e.target).val()){
            nullChecks[x] = true
        } else{
            nullChecks[x] = false
        }
        updateBtn()
    })
    $('#balanceSelect').change((e)=>{
        if ($(e.target).val()){
            nullChecks[3] = true
        } else{
            nullChecks[3] = false
        }
        updateBtn()
    })
    accBtn.click(()=>{
        let balVal = $('#balanceInput').val()
        if (/^\d+\.\d{2}$/.test(balVal)){
            $('#newAccForm').submit()
        }
        else{
            alert('Their balance value must be a positive number with 2 decimal places.')
        }
    })
})
</script>

{% endblock %}