{% extends 'ledger/layout.html' %}
{% block title %}Index Page{% endblock %}
{% block body %}
    {% if zipped %} 
        <div class="container">
            {% for account, balance in zipped %}
            <div data-id = '{{account.id}}' class="row d-flex index-row p-1">
                    <div class="col-3 text-truncate">
                        <span class="fw-bold">Name:</span> {{account.name}}
                    </div>
                    <div class="col-3 text-truncate">
                        <span class="fw-bold">File No.:</span> {{account.file_no}}
                    </div>
                    <div class="col-3 text-truncate">
                        <strong>Client Code: </strong>{{account.client_code}}
                    </div>
                    <div class="col-3 text-truncate">
                        <span class="fw-bold">Current balance:</span> {{balance}}
                    </div>
                    <a id='a{{account.id}}' href="{% url 'ledger:show_acc' account.id %}" style="visibility: hidden; width: 0px; padding: 0px;"></a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center fs-4">No client files are available.</p>
    {% endif %}

    <script charset="utf-8">
        $(()=>{
            $('.index-row').click((e)=>{
                acc_id = $(e.currentTarget).attr('data-id')
                $(`#a${acc_id}`)[0].click()
            })
        })
    </script>
{% endblock %}
