{% extends 'ledger/layout.html' %}
{% block title %}Index Page{% endblock %}
{% block body %}
    {% if zipped %} 
        <div class="container">
            <div class="row align-items-center d-flex">
                {% for account, balance in zipped %}
                    <div data-id = '{{account.id}}' class="col-lg-3 col-4 index-cols">
                        <div class="mb-1"><span class="fw-bold">Name:</span> {{account.name}}</div>
                        <div class="mb-1"><span class="fw-bold">File No.:</span> {{account.file_no}}</div>
                        <div class="mb-1"><span class="fw-bold">Current balance:</span> {{balance}}</div>
                    </div>
                    <div class="col-1"></div>
                    <a id='a{{account.id}}' href="{% url 'ledger:show_acc' account.id %}" style="visibility: hidden; width: 0px; padding: 0px;"></a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p class="text-center fs-4">No client files are available.</p>
    {% endif %}

    <script charset="utf-8">
        $(()=>{
            $('.index-cols').click((e)=>{
                acc_id = $(e.currentTarget).attr('data-id')
                $(`#a${acc_id}`)[0].click()
            })
        })
    </script>
{% endblock %}
