{% extends 'ledger/layout.html' %}
{% block title %}Index Page{% endblock %}
{% block body %}
    {% if accounts %}
        <div class="container">
            <div class="row">
                {% for account in accounts %}
                    <div class="col-lg-4 col-6">
                        <a href="{% url 'ledger:show_acc' account.id %}">{{account.name}}</a>
                        <div>Current balance: account.balance</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No accounts are available.</p>
    {% endif %}
{% endblock %}
