{% extends 'ledger/layout.html' %}
{% block title %}Office Account{% endblock %}

{% block body %}
<header class="d-flex align-items-center flex-column">
    {% if off_acc %}
    <span class="fs-3">Please Select Office Account to View.</span>
    <div class="btn-group my-3" role="group" aria-label="Basic radio toggle button group">
        {% for off_acc in off_accs %}
        <input type="radio" class="btn-check" name="btnradio" data-id='{{off_acc.id}}' id = "btnRadio{{off_acc.id}}" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnRadio{{off_acc.id}}">{{off_acc.name}}</label>
        {% endfor %}
    </div>
    {% else %}
    <p class="fs-4 text-center">No Office Accounts are available for viewing.</p>
    {% endif %}
</header>
{% for off_acc, trans_zipped in office_data %}
<div class='d-none offEach' id='off-acc-{{off_acc.id}}' >
    <div class="text-center mb-3"><a href='{% url "ledger:create_trans" off_acc.id %}' class="btn btn-success">New Transaction</a></div>
    <table  class="table">
        <colgroup>
            <col style="width: 10%;">
            <col style="width:60%">
            <col style="width:10%">
            <col style="width: 10%;">
            <col style="width: 10%">
        </colgroup>
        <thead>
            <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col">Item</th>
                <th class="text-center" scope="col">Debit</th>
                <th class="text-center" scope="col">Credit</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
        {% for trans, entries, rb in trans_zipped %}
            {% for desc, amt in entries %}
            <tr class="transRow" data-id="{{trans.id}}">
                <td>{{trans.created_at|date:"j. n. Y"}}</td>
                <td>
                    {% if trans.payee.name != off_acc.name %}
                        {{trans.payee.name}}
                    {% else %}
                        <a href="{% url 'ledger:voucher' trans.id %}" class="hidden-links" id='vouch{{trans.id}}'></a>
                        {{trans.receiver.name}}
                    {% endif %}
                    &nbsp;-&nbsp;
                    {{desc}}
                </td>
                <td class="text-center">{% if trans.payee.file_no == off_acc.file_no %}{{amt}} {% endif %}</td>
                <td class="text-center">{% if trans.receiver.file_no == off_acc.file_no %}{{amt}}{% endif %}</td>
                <td>{% if forloop.last %}{{rb}}{% endif %}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>    
    </table>
</div>
{% endfor %}


<script charset="utf-8">
    $(()=>{
        btnInputs = $('input');
        btnInputs.click((e)=>{
            id = $(e.target).attr('data-id')
            $('.offEach').not(`#off-acc-${id}`).addClass('d-none')
            $(`#off-acc-${id}`).removeClass('d-none')
        })

        $('.transRow').dblclick((e)=>{
            id = $(e.currentTarget).attr('data-id');
            $(`#vouch${id}`)[0].click()
        })
    
    })
</script>
{% endblock %}