{% extends 'ledger/layout.html' %}
{% block title %}Receipt{% endblock %}

{% block body %}
<div class="container">
    <header class="row justify-content-center fs-3 fw-bold">C. H. YEOH & YIEW</header>
    <aside class="row justify-content-end fw-bold mb-4">{% if transaction.receiver.file_no == 'OFFICE' %}OFFICE'S{% else %}CLIENT'S{% endif %} ACCOUNT</aside>
    <section class="row mb-4">
        <div class="col-2"></div>
        <div class="col-7">
            <div class="d-flex mb-3">Our Ref:&nbsp;<div class="border-bottom border-dark w-75">{{transaction.receiver.file_no}}</div></div>
            <div class="d-flex">Your Ref:&nbsp;<div class="border-bottom border-dark w-75"></div></div>
        </div>
        <div class="col-3">
            <div class="mb-3 d-flex justify-content-evenly"><div>Receipt No. <span class="fw-bold">A</span></div><span class="doc-id">{{transaction.id|stringformat:"05d"}}</span></div>
            <div>Date: <span class="border-bottom border-dark">{{ transaction.created_at|date:'j. n. Y'}}</span></div>
        </div>
    </section>
    <div class="row justify-content-center mb-3">
        <div class="col-10 d-flex">RE&nbsp;<div class="border-bottom border-dark w-100"></div></div>
    </div>
    <div class="row mb-3">
        <div class="col-auto">Received from:</div>
        <div class="col border-bottom border-dark">{{transaction.payee}}</div>
    </div>
    <!-- <div class="row">Ringgit Malaysia&nbsp; <div>{{total_worded}}</div></div> -->
    <div class="row">Being:</div>
    {% for desc, amt in entries %}
    <div class="row border-bottom border-dark">
        <div class="col-10">{{desc}}</div>
        <div class="col-2 border-start border-dark text-end">{{amt}}</div>
    </div>
    {% endfor %}
    <div class="row justify-content-end p-3" >Jumlah / Total / FILLTHIS <span class="fw-bold w-auto">RM</span>{{ total }}</div>
    <div class="row dotted w-75">
        <span class="w-auto mr-2 fw-bold">CHEQUE No.</span><span class="w-auto fs-5">{{transaction.cheque_text}}</span>
    </div>
    <div class="row" style="height: 3em;"></div>
    <div class="row text-center mt-5">
        <div class="col border-top border-dark">Issued / Aprroved By / FILLTHIS</div>
        <div class="col"></div>
        <div class="col border-top border-dark">Received By / FILLTHIS</div>
    </div>
</div>
<button class="btn btn-secondary print-n" type="button" onclick="window.print()">Print</button>

{% endblock %}