{% extends 'ledger/layout.html' %}
{% block title %}Settle Advance Disbursement{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center fs-3 m-4 fw-bold">Settle Advance Disbursement/Transfer</div>
    <hr>
    <div class="row mt-4">
        <div class="col-sm">
        </div>
        <div class="col-lg-8 col-sm-10">
            <form id='transForm' action="{% url 'ledger:resolve' off_trans.id %}" method="post">
                {% csrf_token %}
                <div class="mb-4 d-flex justify-content-between fs-5">
                    <div><strong>File :</strong> {{acc.file_no}}</div>
                    <div><strong>Name :</strong> {{acc.name}}</div>
                    <div><strong>Balance :</strong> {{balance}}</div>
                </div>
                <div class="d-flex justify-content-between mb-3 fs-5">
                    <div>
                        <strong>Other Party :</strong> {{transaction.receiver}}
                    </div>                    
                    <div>
                        <strong>Office Account :</strong> {{off_acc.name}}
                    </div>
                </div>
                <br>
                {% for entry in entries %}
                <div class="row border-bottom border-dark">
                    <div class="col-10">{{entry.description}}</div>
                    <div class="col-2 border-start border-dark text-end">{{entry.amount}}</div>
                </div>
                {% endfor %}
                <div class="row justify-content-end p-3" >Total <div class="fw-bold w-auto">RM</div>{{transaction.total}}</div>
                <div class="fs-5">Cheque No. &nbsp;{{transaction.cheque_text}}</div>
                <br>
                <input type="hidden" name="trans_id" id="" value="{{transaction.id}}">
                <input type="hidden" name="off_trans_id" id=""  value="{{off_trans.id}}">
                <input type="hidden" name="off_acc_id" value="{{off_acc.id}}">
                <input type="hidden" name="acc_id" value="{{acc.id}}">
                <summary>This transaction will debit the aforementioned client file({{acc.client_code}}) whilst crediting the stated office account.</summary>
                <div class="text-end">
                    <a href="{% url 'ledger:adat_index' %}" class="btn btn-secondary">Cancel</a>
                    <button id='transBtn' type='submit' class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
{% endblock %}