{% extends 'ledger/layout.html' %}
{% block title %}{{account.file_no}}{% endblock %}

{% block body %}
<div class="print-n">
    <div class='btn-cluster'>
        <form id='dateForm' autocomplete="off" method="POST">
            {% csrf_token %}
            Date from: <input name='date_from' class="datepicker" type="text" id="datepickerFrom" value="{{date_from}}">
            Date to: <input name='date_to' class='datepicker' type="text" id="datepickerTo" value="{{date_to}}">
            <button id='upBtn' type="button">Update</button>
        </form>
        <div class="btn-group">
            <button id='printBtn' class="btn btn-outline-secondary" type="button" onclick="window.print()">Print</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ledger:custom_receipt' account.id %}">Print Custom Receipt</a></li>
            </ul>
          </div>
        
        <div class="btn-group">
            <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle='dropdown' aria-expanded="false" >
                New Transaction
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'ledger:create_trans' account.id 'cre'%}">Client Receipt</a></li>
                <li><a class="dropdown-item" href="{% url 'ledger:create_trans' account.id 'deb'%}">Client Voucher</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'ledger:create_ad' account.id %}">Advance Disbursement</a></li>
              </ul>
        </div>
        <a class="btn btn-outline-secondary" href="{% url 'ledger:tax' account.id %}">View Service Tax</a>
    </div>
   
    <hr>
</div>
<table class="table print-sm">
    <colgroup>
        <col style="width: 10%;">
        <col style="width:10%;">
        <col style="width: 5%;">
        <col style="width: 10%;">
        <col style="width: 40%;">
        <col style="width: 7%">
        <col style="width: 7%;">
        <col style="width: 11%;">
    </colgroup>
    <thead>
        <tr style="border:none">
            <th colspan="8">
                <header class="fs-5 text-center mb-3">
                    <div>MESSRS C.H.YEOH & YIEW</div>
                    <div>Transaction History</div>
                </header>
                <div class="container d-flex flex-wrap">
                <div class="d-flex flex-column">
                    <div>
                        Client Code:
                    </div>
                    <div>
                        Name:
                    </div>
                    <div >
                        File Ref:
                    </div>
                    <div>
                        Sub. Matter:
                    </div>
                </div>
                <div style="width: 30%;"class="ms-3 d-flex flex-column fw-normal">
                    <div>
                        {{account.client_code}}
                    </div>
                    <div>
                        {{account.name}}
                    </div>
                    <div>
                        {{account.file_no}}
                    </div>
                    <div>
                        {{account.subject_matter}}
                    </div>
                </div>
                <div style="width: 30%;" class="fw-bold d-flex align-items-center print-sm">
                    Your Ref:
                </div>
                <div class="d-flex flex-column">
                    <div>
                        Client Ledger
                    </div>
                    <div>
                        Report Date:
                    </div>
                </div>
                <div class="d-flex flex-column ms-2">
                    <br>
                    <div>
                        {% now "d/m/Y" %}
                    </div>
                </div>
                <div style="width: 100%;" class="d-flex print-sm">
                    <div class="w-25">
                        Date From: &nbsp;<span class="fw-normal">{{date_from}}</span> 
                    </div>
                    <div class="w-25"> 
                        Date To: &nbsp;<span class="fw-normal">{{date_to}}</span>
                    </div>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="col">Ref No</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope='col'>Bank Account</th>
            <th scope="col">Description</th>
            <th class="text-center" scope="col">Debit</th>
            <th class="text-center" scope="col">Credit</th>
            <th class="text-center" scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
    {% for trans, entries, rb in trans_zipped %}
        {% for entry in entries %}
            <tr class="transRow" data-id="{{trans.id}}">
                {% if account == trans.payee %}
                    <a href="{% url 'ledger:voucher' trans.id %}" id = a{{trans.id}} class="hidden-links"></a>
                    <td class="refCell">
                        {% if forloop.first %}
                        PV{{trans.id|stringformat:"05d"}}
                        {% endif %}
                    </td>
                {% else %}
                    <a href="{% url 'ledger:receipt' trans.id %}" id = a{{trans.id}} class="hidden-links"></a>
                    <td class="refCell">
                        {% if forloop.first %}
                        RC{{trans.id|stringformat:"05d"}}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if forloop.first %}{{trans.created_at|date:"d/m/Y"}}{% endif %}</td>
                <td>{{entry.type_code}}</td>
                <td>{{trans.cli_acc.name}}</td>
                <td>
                    <div class="d-flex justify-content-between">
                        {{entry.description}}
                    </div>
                </td>
                <td class="text-center">{% if trans.payee.file_no == account.file_no %}{{entry.amount}} {% endif %}</td>
                <td class="text-center">{% if trans.receiver.file_no == account.file_no %}{{entry.amount}}{% endif %}</td>
                <td class="text-center">{% if forloop.last %}{{rb}}{% endif %}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<footer class="print-n text-center">
    Current balance : RM {{balance}}
</footer>
<script charset="utf-8">
    $(()=>{
        $('.transRow').dblclick((e)=>{
            id = $(e.currentTarget).attr('data-id');
            $(`#a${id}`)[0].click()
        })
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy/mm/dd'
        });
        $('#upBtn').click((e)=>{
            dateFrom = $('#datepickerFrom').val();
            dateTo = $('#datepickerTo').val();
            if (dateFrom && dateTo){
                if (Date.parse(dateFrom) <= Date.parse(dateTo)){
                $('#dateForm').submit();
                } else{
                    alert('The "Date To" selected is prior to the "Date From"');
                }
            } else{
                alert('Both "Date From" and "Date To" must be selected.')
            }
            
        })
    })
</script>
{% endblock %}