{% extends 'ledger/layout.html' %}
{% block title %}{{account.file_no}}{% endblock %}
{% block body %}
{% load static %}
<div class="print-n">
    <div class="mb-3 d-flex">
        <form id='dateForm' autocomplete="off" method="POST" class="w-50 flex-column d-flex">
            {% csrf_token %}
            <div class="mb-2 d-flex">
                <div class="w-50 text-end me-2">
                    <strong>Date from: </strong><input name='date_from' class="datepicker" type="text" id="datepickerFrom" value="{{date_from}}">
                </div>
                <div class="w-50">
                    <strong>Date to: </strong><input name='date_to' class='datepicker' type="text" id="datepickerTo" value="{{date_to}}">
                </div>
            </div>
            <div class="text-center">
                <button id='upBtn' type="button">Update</button>
            </div>
        </form>
        <aside class="w-50 d-flex justify-content-center flex-wrap">
            <div class="me-5">
                <strong>Opening Date: </strong>
                {% if account.opening_date %}
                    {{account.opening_date}}
                {%else%}
                    Not yet set.
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#openingModal">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    <div class="modal fade" id="openingModal" tabindex="-1" aria-labelledby="openingModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="openingModalLabel">File Opening Date</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'ledger:opening_closing' %}" method="post" id="openingForm">
                                        {%csrf_token%}
                                        <input type="hidden" value="{{account.id}}" name="acc_id">
                                        <div class="mb-3">
                                            <label for="openingInput" class="form-label">Opening Date</label>
                                            <input name='opening_input' class="datepicker form-control w-50" type="text" id="openingInput">
                                            <div id="openingInputHelp" class="form-text">Follows YYYY/MM/DD format.</div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="openingSub">Save changes</button>
                                </div>
                        </div>
                        </div>
                    </div>
                {%endif%}
            </div>
            <div>
                <strong>Closing Date: </strong>
                {%if account.closing_date %}
                    {{account.closing_date}}
                {%else%}
                    Not Yet Set.
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#closingModal">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    <div class="modal fade" id="closingModal" tabindex="-1" aria-labelledby="closingModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="closingModalLabel">File Closing Date</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'ledger:opening_closing' %}" method="post" id="closingForm">
                                    {%csrf_token%}
                                    <input type="hidden" name="acc_id" value="{{account.id}}">
                                        <div class="mb-3">
                                        <label for="closingInput" class="form-label">Closing Date</label>
                                        <input name='closing_input' class="datepicker form-control w-50" type="text" id="closingInput">
                                        <div id="closingInputHelp" class="form-text">Follows YYYY/DD/MM format.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="closingNoInput" class="form-label">Closing File No.</label>
                                        <input name='closing_file_no' class="form-control w-50" type="text" id="closingNoInput">
                                    </div>
                                </form>  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="closingSub">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                {%endif%}
            </div>
            <div class="text-center w-100">
                {% if account.closing_no %}
                <strong>Closing File No. : </strong>{{account.closing_no}}
                {% endif %}
            </div>
        </aside>
    </div>
    <div class='btn-cluster'>
        <div class="btn-group">
            <button id='printBtn' class="btn btn-outline-secondary" type="button" onclick="window.print()">Print</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ledger:custom_receipt' account.id %}">Print Custom Receipt</a></li>
            </ul>
        </div>   
        <div class="btn-group">
            <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle='dropdown' aria-expanded="false" >
                New Transaction
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'ledger:create_trans' account.id 'cre'%}">Client Receipt</a></li>
                <li><a class="dropdown-item" href="{% url 'ledger:create_trans' account.id 'deb'%}">Client Voucher</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'ledger:create_ad' account.id %}">Advance Disbursement</a></li>
              </ul>
        </div>
        <a class="btn btn-outline-secondary" href="{% url 'ledger:tax' account.id %}">View Service Tax</a>
        <div class="btn-group">
            <button class="btn btn-info dropdown-toggle" data-bs-toggle='dropdown' aria-expanded="false" >
                Edit Info
            </button>
            <ul class="dropdown-menu">
                <li><a href='' class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addSubjModal">Subject Matter</a></li>
                <li class="dropdown-item editBtn" data-bs-toggle='modal' data-bs-target='#editInfoModal' data-current='Current Client Code : {{account.client_code}}' data-label='New Client Code:' data-name='code'>Client Code</li>
                <li class="dropdown-item editBtn" data-bs-toggle='modal' data-bs-target='#editInfoModal' data-current="Current Name : {{account.name}}" data-label='New Name:' data-name='name'>Name</li>
                <li class="dropdown-item editBtn" data-bs-toggle='modal' data-bs-target='#editInfoModal' data-current="Current File Ref: {{account.file_no}}" data-label='New File Ref:' data-name='ref'>File Ref</li>
                <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#otherPartiesModal" type="button">Other Parties</li>
              </ul>
        </div>
        
    </div>
    <hr>
</div>
<table class="table print-sm">
    <colgroup>
        <col style="width: 4%;">
        <col style="width: 9%;">
        <col style="width:10%;">
        <col style="width: 2%;">
        <col style="width: 10%;">
        <col style="width: 40%;">
        <col style="width: 7%">
        <col style="width: 7%;">
        <col style="width: 11%;">
    </colgroup>
    <thead>
        <tr style="border:none">
            <th colspan="9">
                <header class="fs-5 text-center mb-3">
                    <div>MESSRS C.H.YEOH & YIEW</div>
                    <div>Transaction History</div>
                </header>
                <div class="container d-flex flex-wrap">
                <div class="d-flex flex-column">
                    <div>
                        Client Code:
                    </div>
                    <div>
                        Name:
                    </div>
                    <div >
                        File Ref:
                    </div>
                    <div>
                        Sub. Matter:
                    </div>
                </div>
                <div style="width: 30%;"class="ms-3 d-flex flex-column fw-normal">
                    <div>
                        {% if account.client_code|cut:' ' %}
                            {{account.client_code}}
                        {% else %}
                            No client code.
                        {%endif%}
                    </div>
                    <div>
                        {{account.name}}
                    </div>
                    <div>
                        {{account.file_no}}
                    </div>
                    <div>
                        {{account.subject_matter}}
                    </div>
                </div>
                <div style="width: 30%;" class="fw-bold d-flex align-items-center print-sm">
                    Your Ref:
                </div>
                <div class="d-flex flex-column">
                    <div>
                        Client Ledger
                    </div>
                    <div>
                        Report Date:
                    </div>
                </div>
                <div class="d-flex flex-column ms-2">
                    <br>
                    <div>
                        {% now "d/m/Y" %}
                    </div>
                </div>
                <div style="width: 100%;" class="d-flex print-sm">
                    <div class="w-25">
                        Date From: &nbsp;<span class="fw-normal">{{date_from}}</span> 
                    </div>
                    <div class="w-25"> 
                        Date To: &nbsp;<span class="fw-normal">{{date_to}}</span>
                    </div>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="col" class="text-center">Del.</th>
            <th scope="col">Ref No</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope='col'>Bank Account</th>
            <th scope="col">Description</th>
            <th class="text-center" scope="col">Debit</th>
            <th class="text-center" scope="col">Credit</th>
            <th class="text-center" scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
    {% for trans, entries, rb in trans_zipped %}
        {% for entry in entries %}
            <tr class="transRow" data-id="{{trans.id}}">
                <td class="text-center">
                    {% if forloop.first and trans.cheque_text != 'cancellation' %}
                    <!-- Cancellation modal -->
                    <div class="modal fade" id="delMod{{trans.id}}" tabindex="-1" aria-labelledby="delModLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delModLabel">Cancel Transaction</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Confirm cancellation of:</p>
                                    <p>
                                    {{entry.description}} | total : {{trans.total}}
                                    </p>
                                    <p>This will create a counter transaction, to correct the account's balance, and does not remove the above transaction from the ledger.</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'ledger:counter_trans' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="trans_id" value="{{trans.id}}">
                                        <input type="hidden" name="acc_id" value="{{account.id}}">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Confirm Removal</button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-bs-toggle="modal" data-bs-target="#delMod{{trans.id}}" class="red-x" data-id="{{trans.id}}">X</div> 
                    {% endif %}
                </td>
                {% if trans.payee == account and trans.voucher_no %}
                    <a href="{% url 'ledger:voucher' trans.id %}" id = a{{trans.id}} class="hidden-links"></a>
                    <td class="refCell">
                        {% if forloop.first %}
                            PV{{trans.voucher_no}}
                        {% endif %}
                    </td>
                {% elif trans.receiver == account and trans.receipt_no %}
                    <a href="{% url 'ledger:receipt' trans.id %}" id = a{{trans.id}} class="hidden-links"></a>
                    <td class="refCell">
                        {% if forloop.first %}
                            RC{{trans.receipt_no}}
                        {% endif %}
                    </td>
                {%else%}
                    <td class="refCell"></td>
                {% endif %}
                <td>{% if forloop.first %}{{trans.created_at|date:"d/m/Y"}}{% endif %}</td>
                <td>{{entry.type_code}}</td>
                <td>{{trans.cli_acc.name}}</td>
                <td>
                    <div class="d-flex justify-content-between">  
                        {{entry.description}}
                    </div>
                </td>
                <td class="text-center">{% if trans.payee == account %}{{entry.amount}} {% endif %}</td>
                <td class="text-center">{% if trans.receiver == account %}{{entry.amount}}{% endif %}</td>
                <td class="text-center">{% if forloop.last %}{{rb}}{% endif %}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<!-- Footer containing current balance and balance edit modal -->
<footer class="print-n text-center">
    Current balance : RM <span id="balanceSpan">{{balance}}</span>&nbsp;
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#balEditModal">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
    </svg>
    <!-- balance editing modal -->
    <div class="modal fade" id="balEditModal" tabindex="-1" aria-labelledby="balEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="balEditModalLabel">Edit File Balance</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
                <div class="mb-3">
                    <label for="editBalInput" class="form-label">New Balance:</label>
                    <input type="text" class="form-control" id="editBalInput">
                    <div id="editBalHelp" class="form-text">A number with 2 decimal places.</div>
                </div>
                <label class="form-label">Owing Us:</label>
                <div class="form-check">
                    <input class="form-check-input balRad" type="radio" name="editBalRadio" id="editBalRadio1" value='yes'>
                    <label class="form-check-label" for="editBalRadio1">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input balRad" type="radio" name="editBalRadio" id="editBalRadio2" value="no" checked>
                    <label class="form-check-label" for="editBalRadio2">
                        No
                    </label>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="editBalSubmit">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</footer>
<!-- subject matter modal -->
<div class="modal fade" id="addSubjModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Subject Matter Adding/Changing</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="dropdown mb-3 d-flex justify-content-center">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="subjDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                </button>
                <ul class="dropdown-menu" aria-labelledby="subjDropdown">
                  <li><button id='addSubj' class="dropdown-item">Add Subject Matter</button></li>
                  <li><button id='editSubj' class="dropdown-item">Edit Subject Matter Spelling</button></li>
                  <li><button id='changeSubj' class="dropdown-item">Change Default Subject Matter</button></li>
                </ul>
            </div>
            <p>
                <ul>Default Subject Matter : {{account.subject_matter}}</ul>
            </p>
            <p>
                {% if subj_list %}
                    <ul>
                    Other Subject Matters :
                        {% for each in subj_list %}
                        <li>
                            {{each}}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span style="color:grey;">No other subject matters</span>
                {% endif %}
            </p>
            <form id='subjForm' action="{% url 'ledger:subj_matter' account.id %}" method="POST" class="mt-2 ms-1">
                {%csrf_token%}
                <div id='subjFormDiv'></div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id='subBtn' class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>
<!-- Editing other user info modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Editing</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id='editForm' action="{% url 'ledger:edit_info' account.id %}" method="POST" class="mt-2 ms-1 mb-3">
                {%csrf_token%}
                <p id='currentP'>
                </p>
                <label class='form-label' for="editInp" id='editInpLabel'></label>
                <input type="text" name=""  class='form-control' id="editInp">
                <div id='editFormDiv'></div>
            </form>
            <p>
                Changes made here will reflect when viewing and printing vouchers and receipts prior to the change.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id='editSubBtn' class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>
<!-- Other parties modal -->
    <div class="modal fade" id="otherPartiesModal" tabindex="-1" role="dialog" aria-labelledby="otherPartiesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="otherPartiesModalLabel">Editing Other Parties</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="w-50 mb-3">
                    <label for="nameInput" class="form-label">New Addition:</label>
                    <div class="input-group mb-3">
                        <input id='otherInput' name="other_parties" type="text" class="form-control" placeholder="Other party's name" aria-label="Other party's name" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="otherAdd">+</button>
                    </div>
                </div>
                <div class="">
                    <h6>Other Parties</h6>
                    <ol id="otherList"></ol>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveOther">Save changes</button>
            </div>
        </div>
        </div>
    </div>
<script charset="utf-8">
$(()=>{
    $('.transRow').dblclick((e)=>{
        id = $(e.currentTarget).attr('data-id');
        $(`#a${id}`)[0].click()
    })
    $(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy/mm/dd'
    });
    $('#upBtn').click((e)=>{
        dateFrom = $('#datepickerFrom').val();
        dateTo = $('#datepickerTo').val();
        if (dateFrom && dateTo){
            if (Date.parse(dateFrom) <= Date.parse(dateTo)){
            $('#dateForm').submit();
            } else{
                alert('The "Date To" selected is prior to the "Date From"');
            }
        } else{
            alert('Both "Date From" and "Date To" must be selected.')
        }
    })
    $('#openingSub').click(()=>{
        if (/\d{4}\/\d{2}\/\d{2}/.test($('#openingInput').val())){
            $('#openingForm').submit()
        } else{
            $('#openingInputHelp').animate({backgroundColor:'#FFB6C1'}, 1200, (()=>{
                $('#openingInputHelp').animate({backgroundColor:'white'},1200)
            }))
        }
    })
    $('#closingSub').click(()=>{
        if (/\d{4}\/\d{2}\/\d{2}/.test($('#closingInput').val())){
            if ($('#closingNoInput').val()){
                $('#closingForm').submit();
            } else{
                alert('Closing File No. cannot be empty!');
            }
        } else{
            $('#closingInputHelp').animate({backgroundColor:'#FFB6C1'}, 1200, (()=>{
                $('#closingInputHelp').animate({backgroundColor:'white'},1200);
            }))
        }
    })

    // Subject matter modal handling.
    let subjForm = $('#subjForm');
    let subjFormDiv = $('#subjFormDiv');
    let subjList = JSON.parse('{{json_subj_list|escapejs}}');
    $('#addSubj').click(()=>{
        subjFormDiv.html(`
            <div class="mb-3">
                <label for='newSubj' class='form-label'>New Subject Matter:</label>
                <input id='newSubj' class='form-control' type="text" name='new_subj' placeholder="new subject matter">
            </div>
        `)
    })
    let optText = '';
    for(let i=0; i<subjList.length; i++){
        optText+= `
        <option value='${subjList[i]}'>${subjList[i]}</option>
        `
    }
    $('#editSubj').click(()=>{
        subjFormDiv.html(`
            <label for='subjSelect' class='form-label'>Subject Matter to Edit:</label>
            <select name="to_edit" id="subjSelect">
                ${optText}
            </select>
            <div class="mb-3">
                <label for='editName' class='form-label'>Correct Subject Matter:</label>
                <input id ='editName' class='form-control' type="text" name='edited_name'>
            </div>
        `)
    })
    $('#changeSubj').click(()=>{
        subjFormDiv.html(`
            <p>
                New Default Subject:
            </p>
            <select name="new_default" id="subjSelect">
                ${optText}
            </select>
        `)
    })
    $('#subBtn').click(()=>{
        subjForm.submit();
    })
    $('.editBtn').click((e)=>{
        $('#currentP').text($(e.target).attr('data-current'));
        $('#editInpLabel').text($(e.target).attr('data-label'));
        $('#editInp').attr('name', $(e.target).attr('data-name'))
    })
    $('#editSubBtn').click(()=>{
        $('#editForm').submit();
    })

    // ajax calls for balance changing.
    $('#editBalSubmit').click(()=>{
        let newBalance = $('#editBalInput').val()
        if (/^\d+\.\d{2}$/.test(newBalance)){
            let csrftoken = '{{csrf_token}}';
            let owingUs = $('.balRad:checked').val();
            $.ajaxSetup({
                beforeSend: (xhr, settings)=>{
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            })
            $.post('{% url "ledger:balance_edit" %}', {acc_id:'{{account.id}}', new_balance:newBalance, owing_us:owingUs}, ((data, status)=>{
                if (status == 'success'){
                    if (data.status == 'success'){
                        $('#balanceSpan').text(data.balance);
                        $('#balEditModal').modal('hide');
                    } else{
                        alert('Account details could not be saved!');
                    }
                } else{
                    alert('Server could not be contacted.');
                }
            }))
        } else{
            $('#editBalHelp').animate({backgroundColor:'#FFB6C1'}, 1200, (()=>{
                $('#editBalHelp').animate({backgroundColor:'white'},1200)
            }))
        }
    })
    
    // other party handling
    let otherParties = JSON.parse('{{other_list|escapejs}}');
    updateOtherList = () =>{
        if (otherParties.length>0){
            let newOther = '';
            for (const each of otherParties){
            newOther += `<li class='d-flex justify-content-between mb-1'><span>${each}</span><button class='delOther' type='button'>x</button></li>`;
            }
            $('#otherList').html(newOther)
        } else{
            $('#otherList').text('No other parties added.')
        }
    }
    updateOtherList();

    $('#otherAdd').click(()=>{
        let otherVal = $('#otherInput').val()
        if (otherVal && !otherParties.includes(otherVal)){
            otherParties.push(otherVal)
        }
        updateOtherList();
    })
    $('#otherList').on('click', '.delOther', (e) =>{
        let curr = $(e.currentTarget);
        let toDel = curr.prev().text();
        let i = otherParties.indexOf(toDel);
        otherParties.splice(i,1);
        updateOtherList();
    })
    // ajax call to update other_list in account.
    $('#saveOther').click(()=>{
        let csrftoken = '{{csrf_token}}';
        $.ajaxSetup({
            beforeSend: (xhr, settings)=>{
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        })
        $.post('{% url "ledger:update_other" %}', {acc_id:'{{account.id}}', new_list:JSON.stringify(otherParties)}, ((data, status)=>{
            if (status == 'success'){
                if (data.status == 'success'){
                    otherParties = JSON.parse(data.list);
                    updateOtherList();
                } else{
                    alert('Account details could not be saved!');
                }
            } else{
                alert('Server could not be contacted.');
            }
        }))
    })
})
</script>
{% endblock %}