{% extends 'ledger/layout.html' %}
{% block title %}Total Service Tax{% endblock %}

{% block body %}
<div class="print-n">
    <div class='d-flex align-items-center justify-content-between p-1'>
        <form id='dateForm' autocomplete="off" method="POST">
            {% csrf_token %}
            Date from: <input name='date_from' class="datepicker" type="text" id="datepickerFrom" placeholder="{{date_from}}">
            Date to: <input name='date_to' class='datepicker' type="text" id="datepickerTo" placeholder="{{date_to}}">
            <button id='upBtn' type="button">Update</button>
        </form>
        <a class="btn btn-outline-secondary me-2" href="{% url 'ledger:show_off' %}">View Full Ledger</a>
    </div>
    <hr>
</div>
<table class="table print-sm">
    <colgroup>
        <col style="width: 10%;">
        <col style="width:10%;">
        <col style="width: 5%;">
        <col style="width: 40%;">
        <col style="width:10%">
        <col style="width: 10%;">
    </colgroup>
    <thead>
        <tr style="border:none">
            <th colspan="7">
                <header class="fs-5 text-center mb-3">
                    <div>MESSRS C.H.YEOH & YIEW</div>
                    <div>Total Service Tax Received</div>
                </header>
                <div class="container d-flex">
                    <div>
                        Report Date:
                    </div>
                    <div class="ms-2">
                        {% now "d/m/Y" %}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="col">Ref No</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th class="text-center" scope="col">Debit</th>
            <th class="text-center" scope="col">Credit</th>
        </tr>
    </thead>
    <tbody>
    {% for each in trans %}
        <tr class="transRow" data-id="{{each.id}}">
            <a href="{% url 'ledger:voucher' each.id %}" id = a{{each.id}} class="hidden-links"></a>
            <td class="refCell">
                PV{{each.id|stringformat:"05d"}}
            </td>
            <td class="dateCell">
                {{each.created_at|date:"d/m/Y"}}
            </td>
            <td>{{each.type_code}}</td>
            <td>
                {{each.description}}
            </td>
            <td class="text-center">{{each.amount}}</td>
            <td class="text-center"></td>
        </tr>
    {% endfor %}
        <tr class="transRow" data-id="{{each.id}}">
            <td></td>
            <td></td>
            <td></td>
            <td class="text-end fw-bold">Total</td>
            <td class="text-center fw-bold">{{total}}</td>
            <td class="text-center"></td>
        </tr>
    </tbody>
</table>
<script charset="utf-8">
    $(()=>{
        $('.transRow').dblclick((e)=>{
            id = $(e.currentTarget).attr('data-id');
            $(`#a${id}`)[0].click()
        })
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy/mm/dd'
        });
        $('#upBtn').click((e)=>{
            dateFrom = $('#datepickerFrom').val();
            dateTo = $('#datepickerTo').val();
            if (dateFrom && dateTo){
                if (Date.parse(dateFrom) <= Date.parse(dateTo)){
                $('#dateForm').submit();
                } else{
                    alert('The "Date To" selected is prior to the "Date From"');
                }
            } else{
                alert('Both "Date From" and "Date To" must be selected.')
            }
            
        })
    })
</script>
{% endblock %}