{% extends 'ledger/layout.html' %}
{% block title %}New Transaction{% endblock %}

{% block body %}
<div class="fluid-container">
    <div class="row mt-4">
        <div class="col-lg-3 col-sm-4">
            <table id='legend'>
                <tr>
                  <th class="border-end">Code&nbsp;</th>
                  <th class="ps-1">Meaning</th>
                </tr>
              </table>
        </div>
        <div class="col-lg-8 col-sm-10">
            <h3 class="text-center mb-4">New {% if trans_type == 'cre' %}Receipt{%else%}Voucher{% endif %}</h3>
            <form id='transForm' action="{% url 'ledger:create_trans' account.id trans_type %}" method="post" class="mt-3">
                {% csrf_token %}
                <div class="mb-4 d-flex justify-content-around fs-5">
                    {% if not account.is_office %}
                        <div>For File : {{account.file_no}}</div>
                    {% endif %}
                    <div>Name : {{account.name}}</div>
                    <div>Balance : {{balance}}</div>
                </div>
                <hr>
                <div id = 'otherDiv' class="d-flex justify-content-between mb-3">
                    <div class="w-50">
                        <label for='otherParty' class="form-label">Other Party:</label>
                        <select name='other_party' class="form-select w-75" aria-label="other-party-select" id='otherParty'>
                            <option value="" selected></option>
                            {% if not account.is_office %}
                                <option value="office">Office</option>
                            {% endif %}
                            <option value="other">3rd Party</option>
                            <option value="client">
                                {% if account.is_office %}
                                    Client File
                                {% else %}
                                    Transfer between files
                                {% endif %}
                                
                            </option>
                        </select>
                    </div>
                    {% if not account.is_office %}
                    <div class="w-50">
                        <label for='cli-acc' class="form-label">Client Bank Account:</label>
                        <select name='cli_acc_name' class="form-select w-75" aria-label="cli-acc-select" id='cli-acc'>
                            <option value="" selected></option>
                            {% for cli_acc in cli_accs %}
                            <option value="{{cli_acc.name}}">{{cli_acc.name}}</option>
                            {% endfor %}
                        </select>
                    </div> 
                    {% endif %}             
                </div>
                <br>
                <table id='inpTable' style="width:100%" class="bordered">
                    <colgroup>
                        <col style="width:10%;">
                        <col style="width:5%;">
                        <col style="width:65%">
                        <col style="width:20%">
                    </colgroup>
                    <tr>
                        <th class="bordered">&nbsp; Trans. Type</th>
                        <th class="bordered">&nbsp; Cat.</th>
                        <th class="bordered">&nbsp; For</th>
                        <th class="bordered">&nbsp; RM</th>
                    </tr>
                </table>
                <br>
                <div class="d-flex justify-content-evenly"><button id='addBtn' type="button">+ New Row</button> <button id='rmvBtn' type="button">- Remove Row</button></div> 
                <input hidden name='table_data' id='tableData' type="text">
                <label class="form-label" for="chequeText">Cheque No.</label>
                <input class="formInput form-control" type="text" name="cheque_text" id="chequeText">
                <br>
                <button id='transBtn' disabled type='button' class="btn btn-primary">Confirm</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script charset="utf-8">
$(()=>{
    let transBtn = $('#transBtn');
    let otherParty = $('#otherParty');
    // if other is selected then input is added for account name.
    otherParty.change((e)=>{
        let currVal = $(e.target).val()
        $('#otherInput').remove()
        let otherDiv = $('#otherDiv')
        if (currVal == 'other'){
                otherDiv.after(`
                    <div id='otherInput' class="mb-3">
                        <label for="otherName" class="form-label">Other Party's Name:</label>
                        <input name='other_name' type="text" class="formInput form-control w-75" id="otherName">
                    </div>
                `)
        } else if (currVal == 'office'){
            otherDiv.after(`
                <div id='otherInput' class="mb-3">
                    <label for="officeNo" class="form-label">Office Account Number:</label>
                    <select name='other_name' class="mb-3 form-select w-50" aria-label="trans-select" id='officeNo'>
                        <option value="" selected></option>
                        {% for off_acc in off_accs %}
                            <option value="{{off_acc.id}}">{{off_acc.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            `)
        } else if (currVal == 'client'){
            otherDiv.after(`
                <div id='otherInput' class="mb-3">
                    <label for="otherCli" class="form-label">Client's File No. :</label>
                    <input name='other_name' type="text" class="formInput form-control w-75" id="otherCli">
                </div>
            `)
        }
    })
    let extraTypeCodes = JSON.parse('{{ tc_dict|escapejs }}');
    let debCred = '{{trans_type|escapejs}}';
    let options = ['RD', 'RD1', 'RD2', 'RD3', 'RD4', 'RD5', 'RD6', 'RD7', 'RD8', 'RD11', 'RD14', 'RD15', 'RD17', 'RF', 'RI', 'RO', 'RFDG', 'RS', 'RT', 'RT1', 'RT2', 'RT3', 'RT4', 'RT5', 'RT6', 'RT7', 'RT8', 'RT9', 'RT10', 'RT11', 'RT12', 'RT13'];
    let meanings = ['Disbursement received', 'Affirmation', 'Stamping', 'Printing & photostat charges', 'Regist. fees', 'Transport & despatch', 'Searches', 'Filing', 'Stamp Duty', 'Accommodation charges', 'Prior year adj', 'Deposit for close file to OA', 'CTC', 'Fees Received', 'F.D. interest received', 'Miscellaneous received', 'Fees, disbursements & GST', 'Service tax received', 'Trust received', 'R P G T', 'Diff. sum', 'Balance of purchase price', 'Redemption sum', 'Late payment interest', 'Settlement sum/judgement sum', 'Costs', 'Progressive payment', 'Earnest money', 'Administrative charges', 'Deposit', 'Stakeholder', 'Assessment & quit rent']
    if (debCred == 'deb'){
        options = ['PD', 'PD1', 'PD2', 'PD3', 'PD4', 'PD5', 'PD6', 'PD7', 'PD8', 'PD9', 'PD10', 'PD11', 'PD12', 'PD13', 'PD14', 'PD15', 'PD16', 'PD17', 'PD18', 'PF', 'PI', 'PO', 'PS', 'PT', 'PT1', 'PT2', 'PT3', 'PT4', 'PT5', 'PT6', 'PT7', 'PT8', 'PT9', 'PT10', 'PT11', 'PT12', 'PT13'];
        meanings = ['Disbursement payments', 'Affirmation', 'Stamping', 'Printing & photostat charges', 'Regist. fees', 'Transport & Despatch', 'Searches', 'Filing', 'Stamp duty', 'Adjudication', 'Subsitence allowance', 'Accommodation', 'Refund of fees & disbursements', 'Maintenance fees', 'Prior year adj', 'Disbursements for close files to OA', 'Bank charges', 'CTC', 'Documentation charges', 'Fees payments/transfer', 'F.D. interest payments', 'Miscellaneous payments', 'Service tax payments', 'Trust payments', 'R P G T', 'Diff. sum', 'Balance of purchase price', 'Redemption sum', 'Late payment interest', 'Settlement sum/Judgement sum', 'Costs', 'Progessive Payment', 'Earnest money', 'Administrative Charges', 'Deposit', 'Stakeholder', 'Assessment & quit rent']
    }
    options = options.concat(Object.keys(extraTypeCodes))
    meanings = meanings.concat(Object.values(extraTypeCodes))
    for (i = 0; i<options.length; i++){
        $('#legend').append(`<tr><td>${options[i]}</td><td>${meanings[i]}</td></tr>`)
    }

    $('table').on('click', '.typeCode', (e)=>{
        let typeCode = $(e.target).val()
        let cat;
        if (typeCode == 'RFDG'){
            cat = 'RO'
        } else{
            cat = typeCode.slice(0, 2)
        }
        $(e.target).parent().next().text(cat)
    })

    btnUpdate = () =>{
        let btnValid = true;
        $('select').each((i, e)=>{
            currVal = $(e).val()
            if (!currVal){
                btnValid = false;
            }
        })
        if ($('.trIn').length < 1){
            btnValid = false;
        }
        if (btnValid){
            transBtn.attr('disabled', false)
        } else{
            transBtn.attr('disabled', true)
        }
    }

    // 2 buttons to add or remove input rows.
    const addBtn = $('#addBtn')
    addBtn.click(()=>{
        let optTxt = '<option value = ""></option>';
        for (i = 0; i < options.length; i++){
            optTxt += `<option value="${options[i]}">${options[i]}</option>`
        }
        $('#inpTable').append(`
            <tr class='trIn'>
                <td class="bordered">
                    <select class='typeCode' style="width: 100%;">
                        ${optTxt}
                    </select>
                </td>
                <td class='bordered'></td>
                <td class="bordered"><input type="text" class="descript" id=""></td>
                <td class="bordered"><input type="text" class="amount" id=""></td>
            </tr>
        `)
        btnUpdate()
    })

    $('#rmvBtn').click(()=>{
        $('.trIn').last().remove()
        btnUpdate()
    })
    // adds the first row
    addBtn.click()
    
    // Button is disabled if select input val is empty on either element.
    $('form').on('click', 'select', (e)=>{
        btnUpdate()
    })

    // initialising arrays to pass to server.
    let descriptions = [];
    let amounts;
    let typeCodes = [];
    let total;
    // checks if all descript class inputs are filled.
    emptyCheck = () =>{
        let x = true;
        $('.descript').each((i,e)=>{
            let desc = $(e).val()
            if (desc == ''){
                x = false;
            } else {
                descriptions[i] = desc;
            }
        })
        $('.typeCode').each((i,e)=>{
            let typeCode = $(e).val()
            if (!typeCode){
                x = false;
            } else{
                typeCodes[i] = typeCode;
            }
        })
        return x;
    }

    // checks if all .amount inputs are positive numbs with 2 decimal places OR empty.
    amountCheck = () =>{
        amounts=[];
        total=0;
        let y = true;
        $('.amount').each((i,e)=>{
            let amt = $(e).val();
            if (/^\d+\.\d{2}$/.test(amt)){
                amounts[i] = amt;
                total +=  Number(amt*100);
            } else if (/^$/.test(amt)){
                amounts[i] = '';
            } else{
                y=false;
            }
        })
        return y;
    }

    let fileNoList = JSON.parse('{{ file_no_list|escapejs }}')
    cli_acc_check = () =>{
        if ($("#otherCli").length < 1){
            return true;
        }
        if (!fileNoList.includes($('#otherCli').val())){
            return false;
        } else{
            return true;
        }
    }
    otherPartyCheck = () =>{
        otherName = $('#otherName')
        if (otherName.length < 1){
            return true;
        }
        let nonEmpty = /\S/;
        return nonEmpty.test(otherName.val());
    }
    // runs the 3 functions above, and submits form if all are true.
    transBtn.click(()=>{
        if (!emptyCheck()){
            alert('No cells under the "For" header can be left empty.');
            return;
        } 
        if (!amountCheck()){
            alert('The transaction amount must be a positive number with 2 decimal places OR empty.');
            return;
        }
        if (!otherPartyCheck()){
            alert("Other party's name cannot be empty.")
            return;
        }
        if (cli_acc_check()){
            let acc_bal = (Number('{{account.balance}}')*100)
            if (-total<acc_bal && debCred == 'deb'){
                alert("The amount being deducted exceeds the account's current balance, please click on AD/AT instead.")
                return;
            }
            let tableData = []; 
            for (let i = 0; i < amounts.length; i++){
                tableData.push({
                    description:descriptions[i],
                    amount:amounts[i],
                    type_code:typeCodes[i]
                })
            }
            $('#tableData').val(JSON.stringify(tableData));
            $('#transForm').submit();
        } else{
            alert('The client file number provided does not exist.')
        }
    })
})
</script>
{% endblock %}