{% extends 'ledger/layout.html' %}
{% block title %}New Transaction{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center fs-4 m-4">New Transaction</div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-lg-8 col-sm-10">
            <form id='transForm' action="{% url 'ledger:create_trans' account.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3 d-flex justify-content-around fs-5">
                    {% if not account.is_office %}
                        <label class="form-label">For File : {{account.file_no}}</label>
                    {% endif %}
                    <label class="form-label">Name : {{account.name}}</label>
                </div>
                <div class="d-flex mb-3" id='firstRow'>
                    <div class="w-50">
                        <label for='transSelect' class="form-label">Debit or Credit:</label>
                        <select name='trans_type' class="form-select w-50" aria-label="trans-select" id='transSelect'>
                            <option value="" selected></option>
                            <option value="debited">Debit</option>
                            <option value="received">Credit</option>
                        </select>
                    </div>
                    <div class="w-50">
                        <label for='otherParty' class="form-label">Other Party:</label>
                        <select name='other_party' class="mb-3 form-select w-50" aria-label="trans-select" id='otherParty'>
                            <option value="" selected></option>
                            {% if not account.is_office %}
                                <option value="office">Office</option>
                            {% endif %}
                            <option value="other">3rd Party</option>
                            <option value="client">
                                Client Account
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <table style="width:100%" class="bordered">
                    <colgroup>
                        <col style="width: 10%;">
                        <col style="width:65%">
                        <col style="width:25%">
                    </colgroup>
                    <tr>
                        <th class="bordered">&nbsp; Trans. Type</th>
                        <th class="bordered">&nbsp; For</th>
                        <th class="bordered">&nbsp; RM</th>
                    </tr>
                    <tr class="trIn">
                        <td class="bordered"><select class="typeCode" style="width: 100%;">
                            <option value=""></option>
                            <option value="AD">AD</option>
                            <option value="AT">AT</option>
                            <option value="PD">PD</option>
                            <option value="PD1">PD1</option>
                            <option value="PD2">PD2</option>
                            <option value="PD3">PD3</option>
                            <option value="PD4">PD4</option>
                            <option value="PD5">PD5</option>
                            <option value="PD6">PD6</option>
                            <option value="PD7">PD7</option>
                            <option value="PD8">PD8</option>
                            <option value="PD9">PD9</option>
                            <option value="PD10">PD10</option>
                            <option value="PD11">PD11</option>
                            <option value="PD12">PD12</option>
                            <option value="PD13">PD13</option>
                            <option value="PD14">PD14</option>
                            <option value="PD15">PD15</option>
                            <option value="PD16">PD16</option>
                            <option value="PD17">PD17</option>
                            <option value="PD18">PD18</option>
                            <option value="PF">PF</option>
                            <option value="PI">PI</option>
                            <option value="PO">PO</option>
                            <option value="PS">PS</option>
                            <option value="PT">PT</option>
                            <option value="PT1">PT1</option>
                            <option value="PT2">PT2</option>
                            <option value="PT3">PT3</option>
                            <option value="PT4">PT4</option>
                            <option value="PT5">PT5</option>
                            <option value="PT6">PT6</option>
                            <option value="PT7">PT7</option>
                            <option value="PT8">PT8</option>
                            <option value="PT9">PT9</option>
                            <option value="PT10">PT10</option>
                            <option value="PT11">PT11</option>
                            <option value="PT12">PT12</option>
                            <option value="PT13">PT13</option>
                            <option value="RD">RD</option>
                            <option value="RD1">RD1</option>
                            <option value="RD2">RD2</option>
                            <option value="RD3">RD3</option>
                            <option value="RD4">RD4</option>
                            <option value="RD5">RD5</option>
                            <option value="RD6">RD6</option>
                            <option value="RD7">RD7</option>
                            <option value="RD8">RD8</option>
                            <option value="RD11">RD11</option>
                            <option value="RD14">RD14</option>
                            <option value="RD15">RD15</option>
                            <option value="RD17">RD17</option>
                            <option value="RF">RF</option>
                            <option value="RI">RI</option>
                            <option value="RFDG">RFDG</option>
                            <option value="RO">RO</option>
                            <option value="RS">RS</option>
                            <option value="RT">RT</option>
                            <option value="RT1">RT1</option>
                            <option value="RT2">RT2</option>
                            <option value="RT3">RT3</option>
                            <option value="RT4">RT4</option>
                            <option value="RT5">RT5</option>
                            <option value="RT6">RT6</option>
                            <option value="RT7">RT7</option>
                            <option value="RT8">RT8</option>
                            <option value="RT9">RT9</option>
                            <option value="RT10">RT10</option>
                            <option value="RT11">RT11</option>
                            <option value="RT12">RT12</option>
                            <option value="RT13">RT13</option>
                        </select></td>
                        <td class="bordered"><input type="text" class="descript"></td>
                        <td class="bordered"><input type="text" class="amount"></td>
                    </tr>
                </table>
                <br>
                <div class="d-flex justify-content-evenly"><button id='addBtn' type="button">+ New Row</button> <button id='rmvBtn' type="button">- Remove Row</button></div> 
                <input hidden name='table_data' id='tableData' type="text">
                <label class="form-label" for="chequeText">Cheque No.</label>
                <input class="formInput form-control" type="text" name="cheque_text" id="chequeText">
                <br>
                <button id='transBtn' disabled type='button' class="btn btn-primary">Confirm</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script charset="utf-8">
$(()=>{
    let transBtn = $('#transBtn');
    let otherParty = $('#otherParty');
    // if other is selected then input is added for account name.
    otherParty.change((e)=>{
        let currVal = $(e.target).val()
        $('#otherInput').remove()
        if (currVal == 'other'){
                $('#firstRow').after(`
                    <div id='otherInput' class="mb-3">
                        <label for="otherName" class="form-label">Other Party's Name:</label>
                        <input name='other_name' type="text" class="formInput form-control w-75" id="otherName">
                    </div>
                `)
        } else if (currVal == 'office'){
            $('#firstRow').after(`
                <div id='otherInput' class="mb-3">
                    <label for="officeNo" class="form-label">Office Account Number:</label>
                    <select name='other_name' class="mb-3 form-select w-50" aria-label="trans-select" id='officeNo'>
                        <option value="" selected></option>
                        {% for off_acc in off_accs %}
                            <option value="{{off_acc.id}}">{{off_acc.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            `)
        } else if (currVal == 'client'){
            $('#firstRow').after(`
                <div id='otherInput' class="mb-3">
                    <label for="otherName" class="form-label">Client's File No. :</label>
                    <input name='other_name' type="text" class="formInput form-control w-75" id="otherCli">
                </div>
            `)
        }
    })
    // Button is disabled if select input val is empty on either element.
    $('form').on('click', 'select', (e)=>{
        let selectValid = true;
        $('select').each((i, e)=>{
            currVal = $(e).val()
            if (!currVal){
                selectValid = false;
            }
        })
        if(selectValid){
            transBtn.attr('disabled', false)
        } else{
            transBtn.attr('disabled', true)
        }
    })

    // initialising arrays to pass to server.
    let descriptions = [];
    let amounts = [];
    let typeCodes = [];

    // checks if all descript class inputs are filled.
    emptyCheck = () =>{
        let x = true;
        $('.descript').each((i,e)=>{
            let desc = $(e).val()
            if (desc == ''){
                x = false;
            } else {
                descriptions[i] = desc;
            }
        })
        $('.typeCode').each((i,e)=>{
            let typeCode = $(e).val()
            if (!typeCode){
                x = false;
            } else{
                typeCodes[i] = typeCode;
            }
        })
        return x;
    }

    // checks if all .amount inputs are positive numbs with 2 decimal places.
    amountCheck = () =>{
        let y = true;
        $('.amount').each((i,e)=>{
            let amt = $(e).val();
            if (!/^\d+\.\d{2}$/.test(amt)){
                y = false;
            } else{
                amounts[i] = amt;
            }
        })
        return y;
    }

    let fileNoList = JSON.parse('{{ file_no_list|escapejs }}')
    cli_acc_check = () =>{
        if ($("#otherCli").length < 1){
            return true;
        }
        if (!fileNoList.includes($('#otherCli').val())){
            return false;
        } else{
            return true;
        }
    }
    // runs the 3 functions above, and submits form if all are true.
    transBtn.click(()=>{
        if (emptyCheck()){
            if (amountCheck()){
                if (cli_acc_check()){
                    let tableData = {
                    descriptions : descriptions,
                    amounts : amounts,
                    type_codes: typeCodes
                    };
                    $('#tableData').val(JSON.stringify(tableData));
                    $('#transForm').submit();
                } else{
                    alert('The client file number provided does not exist.')
                }
            }else{
                alert('The transaction amount must be a positive number with 2 decimal places.')
            }
        }else{
            alert('No table cells can be left empty.')
        }
    })
    // 2 buttons to add or remove input rows.
    $('#addBtn').click(()=>{
        $('table').append(`
            <tr class='trIn'>
                <td class="bordered">
                    <select class='typeCode' style="width: 100%;">
                        <option></option>
                        <option value="AD">AD</option>
                        <option value="AT">AT</option>
                        <option value="PD">PD</option>
                        <option value="PD1">PD1</option>
                        <option value="PD2">PD2</option>
                        <option value="PD3">PD3</option>
                        <option value="PD4">PD4</option>
                        <option value="PD5">PD5</option>
                        <option value="PD6">PD6</option>
                        <option value="PD7">PD7</option>
                        <option value="PD8">PD8</option>
                        <option value="PD9">PD9</option>
                        <option value="PD10">PD10</option>
                        <option value="PD11">PD11</option>
                        <option value="PD12">PD12</option>
                        <option value="PD13">PD13</option>
                        <option value="PD14">PD14</option>
                        <option value="PD15">PD15</option>
                        <option value="PD16">PD16</option>
                        <option value="PD17">PD17</option>
                        <option value="PD18">PD18</option>
                        <option value="PF">PF</option>
                        <option value="PI">PI</option>
                        <option value="PO">PO</option>
                        <option value="PS">PS</option>
                        <option value="PT">PT</option>
                        <option value="PT1">PT1</option>
                        <option value="PT2">PT2</option>
                        <option value="PT3">PT3</option>
                        <option value="PT4">PT4</option>
                        <option value="PT5">PT5</option>
                        <option value="PT6">PT6</option>
                        <option value="PT7">PT7</option>
                        <option value="PT8">PT8</option>
                        <option value="PT9">PT9</option>
                        <option value="PT10">PT10</option>
                        <option value="PT11">PT11</option>
                        <option value="PT12">PT12</option>
                        <option value="PT13">PT13</option>
                        <option value="RD">RD</option>
                        <option value="RD1">RD1</option>
                        <option value="RD2">RD2</option>
                        <option value="RD3">RD3</option>
                        <option value="RD4">RD4</option>
                        <option value="RD5">RD5</option>
                        <option value="RD6">RD6</option>
                        <option value="RD7">RD7</option>
                        <option value="RD8">RD8</option>
                        <option value="RD11">RD11</option>
                        <option value="RD14">RD14</option>
                        <option value="RD15">RD15</option>
                        <option value="RD17">RD17</option>
                        <option value="RF">RF</option>
                        <option value="RI">RI</option>
                        <option value="RFDG">RFDG</option>
                        <option value="RO">RO</option>
                        <option value="RS">RS</option>
                        <option value="RT">RT</option>
                        <option value="RT1">RT1</option>
                        <option value="RT2">RT2</option>
                        <option value="RT3">RT3</option>
                        <option value="RT4">RT4</option>
                        <option value="RT5">RT5</option>
                        <option value="RT6">RT6</option>
                        <option value="RT7">RT7</option>
                        <option value="RT8">RT8</option>
                        <option value="RT9">RT9</option>
                        <option value="RT10">RT10</option>
                        <option value="RT11">RT11</option>
                        <option value="RT12">RT12</option>
                        <option value="RT13">RT13</option>
                    </select></td>
                <td class="bordered"><input type="text" class="descript" id=""></td>
                <td class="bordered"><input type="text" class="amount" id=""></td>
            </tr>
        `)
    })
    $('#rmvBtn').click(()=>{
        $('.trIn').last().remove()
    })
})
</script>
{% endblock %}