{% extends 'ledger/layout.html' %}
{% block title %}New Transaction{% endblock %}

{% block body %}
{% if error_message %} 
<div class="alert alert-danger" role="alert">
    {{error_message}}
</div>
{% endif %}
<div class="container">
    <div class="row justify-content-center fs-4 m-4">New Transaction</div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-lg-8 col-sm-10">
            <form id='transForm' action="{% url 'ledger:create_trans' account.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3 d-flex justify-content-around fs-5">
                    {% if not account.is_office %}
                        <label class="form-label">For File : {{account.file_no}}</label>
                    {% endif %}
                    <label class="form-label">Name : {{account.name}}</label>
                </div>
                <label for='transSelect' class="form-label">Transaction Type:</label>
                <select name='trans_type' class="form-select w-25" aria-label="trans-select" id='transSelect'>
                    <option value="" selected></option>
                    <option value="debited">Debit</option>
                    <option value="received">Credit</option>
                </select>
                <br>
                <label for='otherParty' class="form-label">Other Party:</label>
                <select name='other_party' class="mb-3 form-select w-25" aria-label="trans-select" id='otherParty'>
                    <option value="" selected></option>
                    {% if not account.is_office %}
                        <option value="office">Office</option>
                    {% endif %}
                    <option value="other">3rd Party</option>
                    <option value="client">
                        Client Account
                    </option>
                </select>
                <table style="width:100%">
                    <colgroup>
                        <col style="width:75%">
                        <col style="width:25%">
                    </colgroup>
                    <tr>
                      <th>&nbsp For</th>
                      <th>&nbsp RM</th>
                    </tr>
                    <tr class="trIn">
                      <td><input type="text" class="descript"></td>
                      <td><input type="text" class="amount"></td>
                    </tr>
                </table>
                <br>
                <div class="d-flex justify-content-evenly"><button id='addBtn' type="button">+ New Row</button> <button id='rmvBtn' type="button">- Remove Row</button></div> 
                <input hidden name='table_data' id='tableData' type="text">
                <label class="form-label" for="chequeText">Cheque No.</label>
                <input class="formInput form-control" type="text" name="cheque_text" id="chequeText">
                <br>
                <button id='transBtn' disabled type='button' class="btn btn-primary">Confirm</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script charset="utf-8">
$(()=>{
    let transBtn = $('#transBtn');
    let otherParty = $('#otherParty');
    // if other is selected then input is added for account name.
    otherParty.change((e)=>{
        let currVal = $(e.target).val()
        $('#otherInput').remove()
        if (currVal == 'other'){
                $('#otherParty').after(`
                    <div id='otherInput' class="mb-3">
                        <label for="otherName" class="form-label">Other Party's Name:</label>
                        <input name='other_name' type="text" class="formInput form-control" id="otherName">
                    </div>
                `)
        } else if (currVal == 'office'){
            $('#otherParty').after(`
                <div id='otherInput' class="mb-3">
                    <label for="officeNo" class="form-label">Office Account Number:</label>
                    <select name='other_name' class="mb-3 form-select w-25" aria-label="trans-select" id='officeNo'>
                        <option value="" selected></option>
                        {% for off_acc in off_accs %}
                            <option value="{{off_acc.id}}">{{off_acc.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            `)
        } else if (currVal == 'client'){
            $('#otherParty').after(`
                <div id='otherInput' class="mb-3">
                    <label for="otherName" class="form-label">Client's File No. :</label>
                    <input name='other_name' type="text" class="formInput form-control" id="otherCli">
                </div>
            `)
        }
    })
    // Button is disabled if select input val is empty on either element.
    $('form').on('click', 'select', (e)=>{
        let selectValid = true;
        $('select').each((i, e)=>{
            currVal = $(e).val()
            if (!currVal){
                selectValid = false;
            }
        })
        if(selectValid){
            transBtn.attr('disabled', false)
        } else{
            transBtn.attr('disabled', true)
        }
    })

    // initialising arrays to pass to server.
    let descriptions = [];
    let amounts = [];

    // checks if all descript class inputs are filled.
    emptyCheck = () =>{
        let x = true;
        $('.descript').each((i,e)=>{
            let desc = $(e).val()
            if (desc == ''){
                x = false;
            } else {
                descriptions[i] = desc;
            }
        })
        return x;
    }

    // checks if all .amount inputs are positive numbs with 2 decimal places.
    amountCheck = () =>{
        let y = true;
        $('.amount').each((i,e)=>{
            let amt = $(e).val();
            if (!/^\d+\.\d{2}$/.test(amt)){
                y = false;
            } else{
                amounts[i] = amt;
            }
        })
        return y;
    }

    let fileNoList = JSON.parse('{{ file_no_list|escapejs }}')
    cli_acc_check = () =>{
        if (!fileNoList.includes($('#otherCli').val())){
            return false;
        } else{
            return true;
        }
    }
    // runs both functions above, and submits form if both are true.
    transBtn.click(()=>{
        if (emptyCheck()){
            if (amountCheck()){
                if (cli_acc_check()){
                    let tableData = {
                    descriptions : descriptions,
                    amounts : amounts
                    };
                    $('#tableData').val(JSON.stringify(tableData));
                    $('#transForm').submit();
                } else{
                    alert('The client file number provided does not exist.')
                }
            }else{
                alert('The transaction amount must be a positive number with 2 decimal places.')
            }
        }else{
            alert('No table cells can be left empty.')
        }
    })
    // 2 buttons to add or remove input rows.
    $('#addBtn').click(()=>{
        $('table').append(`
            <tr class='trIn'>
                <td><input type="text" class="descript" id=""></td>
                <td><input type="text" class="amount" id=""></td>
            </tr>
        `)
    })
    $('#rmvBtn').click(()=>{
        $('.trIn').last().remove()
    })
})
</script>
{% endblock %}