{% extends 'polls/layout.html' %}
{% block title %}Create New Account{% endblock %}

{%  block body %}
<div class="container">
    <div class="row justify-content-center fs-4 m-4">Create a new account</div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Account Owner's Name</label>
                    <input type="text" class="form-control" id="nameInput">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Account's Current Balance</label>
                    <input type="text" class="form-control" id="balanceInput">
                </div>
                <select class="form-select w-25" aria-label="balance-select" id='balanceSelect'>
                    <option selected>Owing us?</option>
                    <option value="">Yes</option>
                    <option value="2">No</option>
                </select>
                <br>
                <button type="submit" disabled class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script>
$(document)=>{

}
</script>
{% endblock %}