{% extends 'polls/layout.html' %}
{% block title %}Create New Account{% endblock %}

{%  block body %}
<div class="container">
    <div class="row justify-content-center fs-4 m-4">Create a new account</div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Account Owner's Name</label>
                    <input type="text" class="form-control" id="nameInput">
                </div>
                <div class="mb-3">
                    <label for="balanceInput" class="form-label">Account's Current Balance</label>
                    <input type="text" class="form-control" id="balanceInput">
                </div>
                <select class="form-select w-25" aria-label="balance-select" id='balanceSelect'>
                    <option selected>Owing us?</option>
                    <option value="">Yes</option>
                    <option value="2">No</option>
                </select>
                <br>
                <button id='accBtn' type="submit" disabled class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script type='text/javascript' charset="utf-8">
$(()=>{
    let accBtn = $('#accBtn')
    let nameValid, balValid, selValid
    updateBtn = () =>{
        if (nameValid && balValid && selValid) {
            accBtn.removeAttr('disabled')
        } else {
            accBtn.attr('disabled', true)
        }
        console.log(nameValid, balValid, selValid)
    }
    nameValid = true
    balValid = true
    selValid = true
    updateBtn()
})
</script>

{% endblock %}