{% extends 'polls/layout.html' %}
{% block title %}{{account.file_no}}{% endblock %}

{% block body %}
<header class="d-flex justify-content-evenly fs-4 fw-bold my-3">
    <div>File No: {{account.file_no}}</div>
    <div>Name: {{account.name}}</div>
</header>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th class="text-center" scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
    {% for trans, total in trans_total_list %}
        <tr class="transRow">
            <td>
                <div class="d-flex justify-content-between">
                    <div>{{trans.created_at|date:"j. n. Y"}}</div>
                    <div><a href="{% url 'polls:voucher' trans.id %}">View transaction</a></div>
                </div>
            </td>
            <td class="text-center">{% if trans.received == False %}-{% endif %}{{total|floatformat:2}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

<a href='{% url "polls:create_trans" account.id %}'><button type="button" class="btn btn-success">New Transaction</button></a>
{% endblock %}