{% extends 'polls/layout.html' %}
{% block title %}View Voucher{% endblock %}

{% block body %}
{% if error_message %} 
<div class="alert alert-danger" role="alert">
    {{error_message}} {{account.file_no}}
</div>
{% endif %}
<div class='print-y p-2 m-2'>
    <header class='d-flex flex-column align-items-center'>
        <div class='fs-2 fw-bold'>C. H. YEOH & YIEW</div>
        <div>Lot 25, 2nd Floor Block B, Plaza Pekeliling, Jalan Tun Razak,</div>
        <div>50400 Kuala Lumpur, Malaysia,</div>
        <div>Tel: 03-40413288</div>
    </header>
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="fw-bold col d-flex justify-content-center">BAUCER</div>
            <div class="col d-flex justify-content-evenly fs-4"><span class="fw-bold">A</span><span id='voucher-id'>{{transaction.id}}</span></div>
        </div>
        <div class="row justify-content-center">FILLTHIS</div>
        <div class="row text-decoration-underline fw-bold justify-content-center">
            CLIENTS ACCOUNT'S VOUCHER</div>
        <div class="my-3 row">
            <div class="col-5 d-flex">No.&nbsp;<div class="w-75 dotted text-center ">{{account.file_no}}</div></div>
            <div class="col-3"></div>
            <div class="col-4 d-flex">Date.&nbsp;<div class="w-75 dotted text-center">{{transaction.created_at|date:"j. n. Y"}}</div></div>
        </div>
        <div class="row mb-2">Debit (FILLTHIS) <div class="mx-2 dotted w-50">{{transaction.payee}}</div> Account</div>
        <div class="row my-3">Bayaran Kepada / Pay / FILLTHIS <div class="mx-2 dotted w-50">{{transaction.receiver}}</div></div>
        <div class="row ">
            <div class="col-10">Untuk / For / FILLTHIS</div>
            <div class="col-2 fw-bold text-center">RM</div>
        </div>
        {% for desc, amt in entries %}
        <div class="row border-bottom border-dark">
            <div class="col-10">{{desc}}</div>
            <div class="col-2 border-start border-dark text-end">{{amt}}</div>
        </div>
        {% endfor %}
        <div class="row justify-content-end p-3" >Jumlah / Total / FILLTHIS <div class="fw-bold w-auto">RM</div>{{ total|floatformat:2 }}</div>
        <div class="row dotted w-75 fw-bold">CHEQUE No.</div>
        <div class="row my-3">
            <div class="col">
                <div>Diluluskan Oleh:</div>
                <div>Approved & Passed By:</div>
            </div>
            <div class="col"></div>
            <div class="col">
                <div>Diterima Oleh:</div>
                <div>Received By:</div>
            </div>
        </div>
        <div class="row" style="height: 3em;"></div>
        <div class="row text-center">
            <div class="col border-top border-dark">Issued / Aprroved By / FILLTHIS</div>
            <div class="col"></div>
            <div class="col border-top border-dark">Received By / FILLTHIS</div>
        </div>
    </div>
</div>
<div class='print-n'><button class="btn btn-secondary" type="button" onclick="window.print()">Print</button></div>

{% endblock %}

