main {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

.prefix div{
    font: 2em;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr input{
    border: none;
    width: 100%;
}

.print-y{
    box-sizing: border-box;
}

@media print {
    .print-n{
        display: none;
    }
}

#voucher-id{
    color: red;
}

.dotted{
    border-bottom: 1px dotted black;
}